<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.applocum.connecttomyhealth">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".MyApplication"
        android:icon="@drawable/ic_app_icon"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/ic_app_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.ConnectToMyHealth"
        android:usesCleartextTraffic="true">

        <activity android:name=".ui.waitingarea.activities.WaitingAreaActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.mydownloads.activities.DocumentViewActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.othernotes.activities.OtherNoteActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.referral.activities.ReferralActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.fitnote.activities.FitNoteActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.prescription.activities.PrescriptionActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.securitycheck.activities.SecurityActivity"
            android:label="@string/title_activity_security"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.addsymptoms.activities.AddSymptomActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.payment.activities.MemberShipActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.payment.activities.PaymentMethodActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.payment.activities.PaymentShowActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.walkthrough.activities.WalkThroughActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.exemptions.activities.UploadCertificateActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat"
            android:screenOrientation="portrait"/>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>

        <activity android:name=".ui.mygp.activities.GpServiceActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.verificationdocument.activities.VerifiedActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.verificationdocument.activities.ValidationValidUKDrivingLicenseActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.verificationdocument.activities.ValidationValidPassportActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.verificationdocument.activities.UkDrivingLicenseActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.verificationdocument.activities.ValidPassportActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.verificationdocument.activities.VerifyIdentityActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.splashscreen.activities.SplashScreenActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.booksession.activities.SessionBookActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.exemptions.activities.ChooseExemptionActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.payment.activities.AddCodeActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.payment.activities.PaymentActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.addcard.activities.AddCardActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.confirmbooking.activities.ConfirmBookingActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.sessiondetails.activities.SessionDetailsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.booksession.activities.BookSessionActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.medicalhistory.activities.AddMedicalHistoryActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.medicalhistory.activities.MedicalHistoryActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.BaseActivity"/>
        <activity android:name=".ui.specialists.activities.SpecialistsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.medication.activities.MedicationActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.familyhistory.activities.AddFamilyHistoryActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.exemptions.activities.ExemptionsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.mygp.activities.AddGPServiceActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.profiledetails.activities.ProfileDetailsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.investigation.activities.AddInvestigationActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.allergyhistory.activities.AddAllergyActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.investigation.activities.InvestigationActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.allergyhistory.activities.AllergyHistoryActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.familyhistory.activities.FamilyHistoryActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.settings.activities.SettingActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.changepassword.activities.ChangePasswordActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.mydownloads.activities.MyDownloadsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.clinicalrecords.activities.ClinicalRecordsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.personaldetails.activities.PersonalDetailsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.bottomnavigationview.activities.BottomNavigationViewActivity"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.signup.activities.SignupActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.createnewpassword.activities.CreateNewPasswordActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.verification.activities.VerificationActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.forgotpassword.activities.ForgotPasswordActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.login.activities.LoginActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>