<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.applocum.connecttomyhealth">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_app_icon"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/ic_app_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.ConnectToMyHealth"
        android:usesCleartextTraffic="true">
        <activity android:name=".ui.payment.PaymentShowActivity"></activity>
        <activity android:name=".ui.walkthrough.WalkThroughActivity"></activity>
        <activity android:name=".ui.exemptions.UploadCertificateActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity android:name=".ui.mygp.GpServiceActivity" />
        <activity android:name=".ui.addsymptoms.AddSymptomsActivity" />
        <activity android:name=".ui.verificationdocument.activities.VerifiedActivity" />
        <activity android:name=".ui.verificationdocument.activities.ValidationValidUKDrivingLicenseActivity" />
        <activity android:name=".ui.verificationdocument.activities.ValidationValidPassportActivity" />
        <activity android:name=".ui.verificationdocument.activities.UkDrivingLicenseActivity" />
        <activity android:name=".ui.verificationdocument.activities.ValidPassportActivity" />
        <activity android:name=".ui.verificationdocument.activities.VerifyIdentityActivity" />
        <activity android:name=".ui.splashscreen.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.booksession.SessionBookActivity" />
        <activity android:name=".ui.exemptions.ChooseExemptionActivity" />
        <activity android:name=".ui.payment.AddCodeActivity" />
        <activity android:name=".ui.payment.PaymentActivity" />
        <activity android:name=".ui.addcard.AddCardActivity" />
        <activity android:name=".ui.confirmbooking.ConfirmBookingActivity" />
        <activity android:name=".ui.sessiondetails.SessionDetailsActivity" />
        <activity android:name=".ui.booksession.BookSessionActivity"></activity>
        <activity android:name=".ui.medicalhistory.AddMedicalHistoryActivity" />
        <activity android:name=".ui.medicalhistory.MedicalHistoryActivity" />
        <activity android:name=".ui.BaseActivity" />
        <activity android:name=".ui.specialists.SpecialistsActivity" />
        <activity android:name=".ui.medication.MedicationActivity" />
        <activity android:name=".ui.familyhistory.AddFamilyHistoryActivity" />
        <activity android:name=".ui.exemptions.ExemptionsActivity" />
        <activity android:name=".ui.mygp.AddGPServiceActivity" />
        <activity android:name=".ui.mygp.MyGPActivity" />
        <activity android:name=".ui.profiledetails.ProfileDetailsActivity" />
        <activity android:name=".ui.investigation.AddInvestigationActivity" />
        <activity android:name=".ui.allergyhistory.AddAllergyActivity" />
        <activity android:name=".ui.investigation.InvestigationActivity" />
        <activity android:name=".ui.allergyhistory.AllergyHistoryActivity" />
        <activity android:name=".ui.familyhistory.FamilyHistoryActivity" />
        <activity android:name=".ui.settings.SettingActivity" />
        <activity android:name=".ui.changepassword.ChangePasswordActivity" />
        <activity android:name=".ui.mydownloads.MyDownloadsActivity" />
        <activity android:name=".ui.clinicalrecords.ClinicalRecordsActivity" />
        <activity android:name=".ui.personaldetails.PersonalDetailsActivity" />
        <activity
            android:name=".ui.bottomnavigationview.BottomNavigationViewActivity"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity android:name=".ui.signup.SignupActivity"></activity>
        <activity android:name=".ui.createnewpassword.CreateNewPasswordActivity" />
        <activity android:name=".ui.verification.VerificationActivity" />
        <activity android:name=".ui.forgotpassword.ForgotPasswordActivity" />
        <activity android:name=".ui.login.LoginActivity"></activity>
    </application>

</manifest>