<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.applocum.connecttomyhealth">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".MyApplication"
        android:icon="@drawable/ic_app_icon"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/ic_app_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.ConnectToMyHealth"
        android:usesCleartextTraffic="true">
        <activity android:name=".ui.mydownloads.DocumentViewActivity" />
        <activity android:name=".ui.othernotes.OtherNoteActivity" />
        <activity android:name=".ui.referral.ReferralActivity" />
        <activity android:name=".ui.fitnote.FitNoteActivity" />
        <activity android:name=".ui.prescription.models.PrescriptionActivity" />
        <activity
            android:name=".ui.securitycheck.SecurityActivity"
            android:label="@string/title_activity_security" />
        <activity android:name=".ui.addsymptoms.AddSymptomActivity" />
        <activity android:name=".ui.payment.MemberShipActivity" />
        <activity android:name=".ui.payment.PaymentMethodActivity" />
        <activity android:name=".ui.payment.PaymentShowActivity" />
        <activity android:name=".ui.walkthrough.WalkThroughActivity" />
        <activity android:name=".ui.exemptions.UploadCertificateActivity" />

        <activity android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat"/>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>

        <activity android:name=".ui.mygp.GpServiceActivity" />
        <activity android:name=".ui.verificationdocument.activities.VerifiedActivity" />
        <activity android:name=".ui.verificationdocument.activities.ValidationValidUKDrivingLicenseActivity" />
        <activity android:name=".ui.verificationdocument.activities.ValidationValidPassportActivity" />
        <activity android:name=".ui.verificationdocument.activities.UkDrivingLicenseActivity" />
        <activity android:name=".ui.verificationdocument.activities.ValidPassportActivity" />
        <activity android:name=".ui.verificationdocument.activities.VerifyIdentityActivity" />
        <activity android:name=".ui.splashscreen.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.booksession.SessionBookActivity" />
        <activity android:name=".ui.exemptions.ChooseExemptionActivity" />
        <activity android:name=".ui.payment.AddCodeActivity" />
        <activity android:name=".ui.payment.PaymentActivity" />
        <activity android:name=".ui.addcard.AddCardActivity" />
        <activity android:name=".ui.confirmbooking.ConfirmBookingActivity" />
        <activity android:name=".ui.sessiondetails.SessionDetailsActivity" />
        <activity android:name=".ui.booksession.BookSessionActivity" />
        <activity android:name=".ui.medicalhistory.AddMedicalHistoryActivity" />
        <activity android:name=".ui.medicalhistory.MedicalHistoryActivity" />
        <activity android:name=".ui.BaseActivity" />
        <activity android:name=".ui.specialists.SpecialistsActivity" />
        <activity android:name=".ui.medication.MedicationActivity" />
        <activity android:name=".ui.familyhistory.AddFamilyHistoryActivity" />
        <activity android:name=".ui.exemptions.ExemptionsActivity" />
        <activity android:name=".ui.mygp.AddGPServiceActivity" />
        <activity android:name=".ui.mygp.MyGPActivity" />
        <activity android:name=".ui.profiledetails.ProfileDetailsActivity" />
        <activity android:name=".ui.investigation.AddInvestigationActivity" />
        <activity android:name=".ui.allergyhistory.AddAllergyActivity" />
        <activity android:name=".ui.investigation.InvestigationActivity" />
        <activity android:name=".ui.allergyhistory.AllergyHistoryActivity" />
        <activity android:name=".ui.familyhistory.FamilyHistoryActivity" />
        <activity android:name=".ui.settings.SettingActivity" />
        <activity android:name=".ui.changepassword.ChangePasswordActivity" />
        <activity android:name=".ui.mydownloads.MyDownloadsActivity" />
        <activity android:name=".ui.clinicalrecords.ClinicalRecordsActivity" />
        <activity android:name=".ui.personaldetails.PersonalDetailsActivity" />
        <activity
            android:name=".ui.bottomnavigationview.BottomNavigationViewActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".ui.signup.SignupActivity" />
        <activity android:name=".ui.createnewpassword.CreateNewPasswordActivity" />
        <activity android:name=".ui.verification.VerificationActivity" />
        <activity android:name=".ui.forgotpassword.ForgotPasswordActivity" />
        <activity android:name=".ui.login.LoginActivity" />
    </application>

</manifest>